---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
<section>
  <h2>Privacy for At-Risk Populations</h2>
  <ul>
    <li>Examined and designed effective privacy mechanisms for people with visual impairments. SOUPS’18 - IAPP Privacy Award, TACCESS’22, S&P’23 [ethnographic/observational, experiment/lab study]
    </li>
    <li>Investigated South Asian citizen’s perspective ads privacy on social media. CHI’23 [interview, online survey]</li>
   </ul>
</section>

<section>
  <h2>Emerging Technologies and User Privacy</h2>
  <ul>
    <li>Explored people’s (mis)understanding of explainable AI and related rights under GDPR.
      SOUPS’21 - IAPP Privacy Award [online survey]</li>
    <li>Brainstormed user-centered privacy designs for smart homes IoT privacy. CHI'19 [co-design study] </li>
  </ul>
</section>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

